# System files
# ------------

Icon
.DS_Store


# Temporary files
# ---------------

/node_modules
/media/*
!/media/index.html


# Lock files
# ---------------

.lock



# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------


# Merx Orders
# ---------------------------

/content/**/order.txt
/content/**/order.*.txt


# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea
/.nova


# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html


# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html


# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html


# License
# ---------------

/site/config/.license


# Development configurations
# ---------------

/site/config/config.starterkit.merx.wagnerwagner.local.php


# Other
# ---------------------------

/.intelephense-alias.php
